header {
      text-align: center;
      background: url('images/blue_art-header-main.jpg');
      background-size: cover;
}

header img{
      height: 150px;
      width: 150px;
      margin: 90px 0 0 0;
      border: 3px solid #262626;
      border-radius: 130px;
}

h1{
      font-size: 60px;
      font-family: 'Amatic SC', cursive;
      margin: -10px 0;
}

h2{
      background-color: #f2f2f2; /* for browsers that do not support gradients yet */
      border-radius: 20px 20px 5px 5px;
      background: linear-gradient(-109deg, #cccccc, #f2f2f2); /* standard syntax */
      background: -webkit-linear-gradient(-109deg, #cccccc, #f2f2f2); /* for Safari 5.1 to 6.0 */
      background: -o-linear-gradient(-109deg, #cccccc, #f2f2f2); /* for Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(-109deg, #cccccc, #f2f2f2); /* for Firefox 3.6 to 15 */
      padding: 2px 2px 2px 15px ;
      color: #505050;
}

p{
      padding:5px;
      font-size: 18px;
      font-family: 'Droid Sans', sans-serif;
}

ul{
      padding: 10px;
      background: rgba(0,0,0,1);
}
li{
      display: inline;
      padding: 0px 10px 0px 10px;
      font-family: monospace;
      font-size: 16px;
      
}
li a{
      text-decoration: none;
      color: #fff;
}
a:hover {
      color: #ccc;
}
body{
      font-family: sans-serif;
      line-height: 1.5;
}
#container{
      max-width:500px;
      margin: 0 auto;
}

#about h1{
      font-size: 40px;
      text-align: left;
}

#about a {
      text-decoration: none;
}

#converter div{
      text-align: center;
}
#converter h1{
      font-size: 40px;
      text-align: center;
}

#converter input{
      padding: 10px;
      font-size: 16px;
}
#converter input[type="submit"] {
      background-color: #e60000;
      color: white;
      margin: 10px;
}
#converter input[type="submit"]:hover{
      background-color: #ff0000
}
#binary {
      font-size: 45px;
      font-family: monospace;
      word-wrap: break-word;

}
#symetrical{
      font-size: 16px;
      font-family: 'Amatic SC', cursive, monospace;
}

#contact h1{
      font-size: 40px;
      text-align: left;
}
#contact a{
      text-decoration: none;
}
#contact i{
      display:block;
      padding: 20px 0 10px 0;
}
@media (max-width: 320px) {
      li{
       display:block;
       padding:5px;
      }